<script src="https://cdn.tailwindcss.com"></script>

    <div>
        <div>
            <!-- <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-black">
                Registrar Producto</h1> -->
            <form method="POST" action="/productoIngresado/ingresarProducto" class="space-y-4 md:space-y-6">
                <!-- Select para el proveedor -->
                <div>
                    <label for="idProveedor" class="block text-sm font-medium text-gray-900 dark:text-black">Proveedor</label>
                    <select name="idProveedor" id="idProveedor"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-100 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="" selected>Selecciona un proveedor</option>
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor.idProveedor}}">{{ proveedor['nombreProveedor']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Select para el producto -->
                <div>
                    <label for="idProducto" class="block text-sm font-medium text-gray-900 dark:text-black">Producto</label>
                    <select name="idProducto" id="idProducto"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="" selected>Selecciona un producto</option>
                        {% for producto in productos %}
                            <option value="{{ producto.idProducto}}">{{ producto.nombreProducto}}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Campo cantidad -->
                <div>
                    <label for="cantidad" class="block text-sm font-medium text-gray-900 dark:text-black">Cantidad</label>
                    <input type="number" name="cantidad" id="cantidad" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>

                <!-- Campo precio unitario -->
                <div>
                    <label for="precioUnitarioIng" class="block text-sm font-medium text-gray-900 dark:text-black">Precio Unitario</label>
                    <input type="number" step="0.01" name="precioUnitarioIng" id="precioUnitarioIng" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>

                <!-- Campo fecha de ingreso -->
                <div>
                    <label for="fechaIngreso" class="block text-sm font-medium text-gray-900 dark:text-black">Fecha de Ingreso</label>
                    <input type="date" name="fechaIngreso" id="fechaIngreso" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>

                <!-- Botón para registrar el producto -->
                <button type="submit"
                    class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Registrar Producto
                </button>
            </form>
        </div>
    </div>