<script src="https://cdn.tailwindcss.com"></script>
<form class="space-y-4" method="POST" action="{{ url_for('productos.editarProducto', id=producto['idProducto']) }}">

    <div>
        <label for="product-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
            Producto</label> 
        <input type="text" name="nombreProducto" id="product-name" value="{{ producto.nombreProducto }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-700"
            required>
    </div>

    <div>

        <input type="hidden" name="cantidadDisponible" id="quantity" value="{{ producto.cantidadDisponible }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-700"
            required>
    </div>
    <div>
        <label for="product-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio Unitario</label> 
        <input type="text" name="precioUnitario" id="precioUnitario" value="{{ producto.precioUnitario }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-700"
            required>
    </div>
    <div>
        
        <input type="hidden" name="precioVenta" id="precioVenta" value="{{ producto.precioVenta }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-700"
            required>
    </div>
    <div>
        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría</label>
        <select name="categoriaProducto" id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 block w-full p-2.5 dark:bg-gray-700"
            required>
            <option value="Lacteo" {% if producto.categoriaProducto=='Lacteo' %}selected{% endif %}>Lácteo</option>
            <option value="Fideos" {% if producto.categoriaProducto=='Fideos' %}selected{% endif %}>Fideos</option>
            <option value="Galletas" {% if producto.categoriaProducto=='Galletas' %}selected{% endif %}>Galletas
            </option>
            <option value="Bebidas" {% if producto.categoriaProducto=='Bebidas' %}selected{% endif %}>Bebidas</option>
            <option value="Otros" {% if producto.categoriaProducto=='Otros' %}selected{% endif %}>Otros</option>
        </select>
    </div>

    <button type="submit"
        class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Guardar Cambios
    </button>

</form>