<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Registrados</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% include './navbar.html' %}
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Productos Registrados</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 shadow-lg rounded-lg">
                <thead>
                    <tr class="bg-gray-800 text-white text-left">
                        <th class="py-3 px-6 font-semibold">ID</th>
                        <th class="py-3 px-6 font-semibold">Nombre del Producto</th>
                        <th class="py-3 px-6 font-semibold">Cantidad Disponible</th>
                        <th class="py-3 px-6 font-semibold">Categoría</th>
                        <th class="py-3 px-6 font-semibold">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for producto in productos %}
                    <tr class="border-b border-gray-200">
                        <td class="py-4 px-6">{{ producto['idProducto'] }}</td> 
                        <td class="py-4 px-6">{{ producto['nombreProducto'] }}</td> 
                        <td class="py-4 px-6">{{ producto['cantidadDisponible'] }}</td>  
                        <td class="py-4 px-6">{{ producto['categoriaProducto'] }}</td>  
                        <td class="py-4 px-6"> 
                            <a href="" class="text-blue-500 hover:text-blue-700">Editar</a>
                            <a href="" class="text-red-500 hover:text-red-700 ml-4">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
</body>
</html>
